extends layout

block content
  h1 Metrics
  hr
  input(type='file', name='uploadFiles',id='uploadFiles')
  button(name='upload', id='upload') Upload
  div MAE 
   output(name='mae', id='mae') 123
  div RMAPE 
   output(name='rmape', id='rmape') 456
  

  table#files.table


block otherScripts
  script(src='/js/upload.js')
